.header {
  background-color: black;
  padding: 24px 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: yellow;
  text-transform: uppercase;
}

.nav_item {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  margin-right: 40px;
}

.phone {
  color: yellow;
}
.button {
  padding: 13px 20px;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  background-color: yellow;
  color: green
}
.hero {
  background: url("../img/hero-bg.jpg") no-repeat center / cover;
  height: 100vh;
  color: white;
}
.text {
  text-align:  center;
}